.main
  .top-contents
    .top-contents__content#timer
      .top-contents__content--up
        アルコールが分解されるまで
      .top-contents__content--down
        = "#{@timer[:hour]}時間#{@timer[:min]}分#{@timer[:sec]}秒"
    .top-contents__content#sum
      .top-contents__content--up#sum-text
        総アルコール量
      .top-contents__content--down#sum-alcohol{data: {sumalcohol: @sum_alcohol}}
        = "#{@sum_alcohol}g"

  .drink-list
    = render partial: "drinks/drink", collection: @drinks

  = form_with(model: [@party, @drink], local: true, class: "footer", id: "new-drink") do |f|
    .input-form
      .input-form__top
        .form-content
          .form-info
            お酒
          = f.text_field :name, class: "form-text"
        .form-content
          .form-info
            度数
          = f.text_field :content, placeholder: "0.0 ~ 100,0 %", class: "form-text"
        .form-content
          .form-info
            飲酒量
          = f.text_field :amount, placeholder: "0 ~ 1000 ml", class: "form-text"
      .input-form__bottom
        .input-form__bottom--comment
          コメント
        = f.text_field :comment, class: "form-text"
    .send-btn
      %label
        = icon('fas', 'beer', class: "send-btn__icon")
        = f.submit '飲んだ!', class: "send-btn__submit"