.side-bar
  .party-list
    - current_user.parties.each do |party|
      .party-list__box
        = link_to party_drinks_path(party.id), class: "party" do
          .party__name
            = party.name
          .party__date
            = party.created_at.strftime("%Y/%m/%d")

  = link_to new_party_path, class: "new-party" do
    飲み会を追加
    = icon('fas', 'glass-cheers', class: "new-party__icon")