%h2
  Edit #{resource_name.to_s.humanize}
= form_for(current_user) do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true
  .field
    = f.label :weight
    %br/
    = f.number_field :weight, step: "0.1"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit "Update"
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
