.wrapper
  .user-form
    .user-form__title
      アカウント情報編集
    = form_for(current_user) do |f|
      .field
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true
      .field
        = f.label :weight
        %br/
        = f.number_field :weight, step: "0.1"
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "更新", class: "actions__btn"
    .user-form__delete
      アカウントを削除する
      #{button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "user-form__delete__btn"}
