.wrapper
  .user-form
    .user-form__title
      アカウント登録
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
      = devise_error_messages!
      .field
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true
      .field
        = f.label :weight
        %br/
        = f.number_field :weight, step: "0.1", value: "60.0"
      .field
        = f.label :email
        %br/
        = f.email_field :email
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", placeholder: "6文字以上"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "登録する"
